---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Apps from "../components/Apps.astro";
import Writing from "../components/Writing.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <About />
    <Apps />
    <Writing />
    <Contact />
    <Experience />
  </main>
  <Footer />
</Layout>
